<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/afterLogin.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= userName %> successfully Logged In with email-Id: <%= userEmail %></h1>
      <p>Welcome to the dashboard!</p>
      <form action="/logout" method="POST">
        <button class="button" type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
